$black: '000';

$play: 'Playfair Display', serif;
$nuni: 'Nunito Sans', sans-serif;

@media(max-width: 1100px) {
  .innovative-ideas__wrapper {
    flex-direction: column;
  }
}
.innovative-ideas p.first-para {
  margin-top: -28px;
}

.innovative-ideas p.first-para:first-letter {
  color: #333333;
  font-family: $nuni;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
}

.innovative-ideas {
  &__wrapper {
    width: 820px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 95px;
    margin-left: 125px;
  }
  h2 {
    position: relative;
  }
  &__col {
    width: 360px;
    margin-right: 50px;
    text-align: justify;
  }
  .sub {
    width: 424px;
    color: #717171;
    font-family: $nuni;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 210px;
  }
  // &__image {
  //   transform: rotate(-90deg);
  //   width: 500px;
  // }
  // &__image p {
  //   position: relative;
   
  //   color: #d22425;
  //   font-family: $nuni;
  //   position: relative;
    
  //   font-size: 16px;
  //   font-weight: 700;

  //   text-transform: uppercase;
  //   letter-spacing: 1.15px;
  //   text-align: center;
  //   background-color: white;
  //   img {
  //     position: absolute;
  //     transform: rotate(90deg);
  //     left: -245px;
  //     top: -305px;
  //     width: 564px;
  //     height: 729px;
  //     z-index: -1;
  //   }
  // }
}

 .innovative-ideas__image {
  position: absolute;
  top: -37px;
  left: 650px;
  z-index: -1;
 }

.innovative-ideas__button {
 color: #d22425;
 font-family: $nuni;
 font-size: 17px;
 font-weight: 700;
   
  width: 146px;
  height: 50px;
  border: 1px solid #e4e4e4;
  padding: 10px 30px;
  margin-top: 60px;
  a {
    text-decoration: none;
    color: #d22425;
   }
}
