html
  head
    title Minimalist Agency
//- <!DOCTYPE html>
//- <html>
//- 	<head>
//- 	  <title></title>
//- 	</head>
//- 	<body>
//- 		<header>
//- 			<div class="main-nav">
//- 				<div class="logo">
//- 					<img src="img/logo-top.png" width="137" height="30" alt="Minimalist Agency">
//- 				  <p>we create <span>DESIGNS</span> that make you proud</p>
//- 			  </div>
//- 			  <button class="roll-down"></button>
			  
//- 			</div>
//- 		</header>
		
//- 		<section class="presentation">
//- 			<div class="presentation-left slogan">
//- 				<h2>We create product</h2>
//- 				<div class="presentation-left slogan_small">
//- 					what exactly you need
//- 				</div>
//- 				<div class="presentation-left description">
//- 					<p>Fantastic Clean Website Designs for Inspiration. Selection of Awards winning clean websites or websites with and strong use of clean design. It is usually associated with ab concepts and emotions such as elegance.
//- 					</p>
//- 					<p>Selection of Awards winning clean websites or ant websites with a strong use of clean design. It is usually yeh associated with concepts and emotions such as the elegancei. Fantastic Clean Website Designs for Inspirations. Selection of Awards winning clean websites aud or websites with a strong use of clean design. It is usually associated with concepts and emotions such as elegance.
//- 					</p>
//- 				</div>
//-       </div>
//- 			<div class="presentation-right">
//- 				<img src="img/baloons.png" width="426" height="520" alt="presentation">
//- 			</div>
//- 		</section>
//- 		<section class="innovative-ideas">
//- 			<div class="ideas-left">
//- 				<h2>Innovative Ideas</h2>
//- 				<div class="subtitle">Clean Website Designs for Inspiration. Select option only of Awards winning clean website or websites designs.</div>
//- 				<div class="column-left">
//- 					<p>antastic Clean Website Designs for Inspiratiion. Selection of Awards winning cleaein web sites or websites with and strong use of clean design. It is usually associated with ab concepts and emotions such as elegance.</p>
//- 					<p>Selection of Awards winning clean websites or ant websites with a strong use of clean design. It is usually yeh associated with concepts and emotions such as the elegancei. Fantastic Clean Website Designs for Inspirations. Selection of Awards winning clean websites.</p>
//- 					<p>It is usually associated with concepts and emoi tions such as elegance. Selectiilon of Awards winning clean websites or ant websites with a strong use of clean design.</p>
//- 				</div>
//-         <div class="column-right">
//-         	<p>Clean Website Designs for Inspir ati on. Select edot ion of Awards winning cleaein web sites or weanbsites with and strong use of clean design. And emotions such as elegance.</p>
//-         	<p>Selectiilon of Awards winning clean websites or ant wilebsites with a strong use of clean design. It is reusually yeh associated with concepts and Awards winning clean websites.</p>
//-         	<p>Audio vidoe ilorud or websites with a strong use of clean design. It is usually associated with concepts and emoi tions such as elegance.</p>
//-         </div>
//-         <div>
//-         	<button><a href="">Visit Blog</a>
//-         	</button>
//-         </div>
//- 			</div>
//- 			<div class="ideas-right">
//- 				<img src="img/paint-middle.png" width="564" height="729" alt="logo-middle">
//- 			</div>
//- 		</section>
//- 		<section>
//- 			<div class="works">
//- 				<h2>Recent Works</h2>
//-         <div class="works-subtitle">Some Designs
//-         </div>
//-         <div class="images">
//-         	<div class="image">
//- 	        	<h2>Innovative Design</h2>
//- 	        	<p>Selection of Award winning clean are de websites or andi websites with a strong use of clean design.</p>
//- 	        </div>
//- 	        <div class="image">
//- 	        	<img src="img/bottle.png" width="375" height="260" alt="designer bottle">
//- 	        </div>
//-           <div class="image">
//- 	        	<img src="img/face.png" width="375" height="260" alt="designer mask">
//- 	        </div>
//- 	        <div class="image">
//- 	        	<img src="img/armchair.png" width="355" height="260" alt="designer armchair">
//- 	        </div>
//-         </div>
//-         <div class="link">
//-         	<a href="">visit portfolio</a>
//-         </div>
//-       </div>
//-     </section>
//-     <section class="contacts">
    	
    	
//-     </section>
	
		

//- </body>
//- </html>
